
.carousel-inner{
    height:450px;
  
}

.carousel-item{
    height:450px;
}

.row,.card{
    margin:30px;
}
.card-img{
    height:300px;
}
.Profiles-cards{
  text-align:center;
}
.box{
  background-color:#f0eeeb;
}
.main{
  margin:20px;
}
/* .section{ */
  /* background-color:red; */
  /* border-radius: 50px; */
/* } */
.col{
  text-align:center;
  height:98px;
  width:180px;
}
.col-desc{
  text-align:center;
}
